# DIO | Desafio de Projeto - Crie sua própria ETL de Dados

## *Importando o Pandas e o Openpyxl*

In [1]:
import pandas as pd

In [13]:
import openpyxl

## *Lendo o Dataset sobre dados de Empréstimos*

In [2]:
! wget https://raw.githubusercontent.com/SuperDataWorld/Python/main/loan.csv
df = pd.read_csv('loan.csv')

--2023-09-08 18:08:30--  https://raw.githubusercontent.com/SuperDataWorld/Python/main/loan.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38011 (37K) [text/plain]
Saving to: ‘loan.csv.1’

loan.csv.1          100%[===================>]  37.12K  --.-KB/s    in 0.003s

2023-09-08 18:08:30 (10.6 MB/s) - ‘loan.csv.1’ saved [38011/38011]

## *Trocando valores iguais a "Sim" para 1 e "Não" para 0, "Male" para "m" e "Female" para "F"*

In [3]:
df.replace({"Yes": 1, "No": 0, "Female":"F", "Male":"M"})

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,M,0.0,0,Graduate,0.0,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,M,1.0,1,Graduate,0.0,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,M,1.0,0,Graduate,1.0,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,M,1.0,0,Not Graduate,0.0,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,M,0.0,0,Graduate,0.0,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,F,0.0,0,Graduate,0.0,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,M,1.0,3+,Graduate,0.0,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,M,1.0,1,Graduate,0.0,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,M,1.0,2,Graduate,0.0,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,F,0.0,0,Graduate,1.0,4583,0.0,133.0,360.0,0.0,Semiurban,N

## *Alterando o tipo da coluna "Married" para boolean*

In [4]:
df.Married = df.Married.astype(bool)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            614 non-null    bool
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: bool(1), float64(4), int64(1), object(7)
memory usage: 58.3+ KB

## *Armazenado o Dataframe em um arquivo excel*

In [16]:
df.to_excel("loan.xlsx",sheet_name="Minha Aba", index=False, engine= "openpyxl")